*{
	margin: 0; 
	padding: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
@font-face {
    font-family: 'Anyway Type';
    src: url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff') format('woff'),
	    	url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Anyway Type';
	src: url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff') format('woff'),
    		url('http://anyway-web.b0.upaiyun.com/font/calluna-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;    
}
body{ 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 62.5%;
	font-family: 'Anyway Type', 'Microsoft YaHei', sans-serif;
	background: #fff;
	color: #585858;
	text-align: center;
	border-top: 8px solid #444;
}
a{
	color: #585858;
	transition: color .1s ease-in;
}
a:visited{
	color: #585858;
}	
a:hover{
	color: #e7b836;
}
.responsive{
	margin: .2em auto;
	max-width: 85%;
}
header{
	background: #fff;
	border-bottom: 3px solid #777;
}
.logo{
	width: 40%;
	margin: 3rem 0;
	max-height: 30vh;
}
.logotype{
	stroke-dasharray: 300;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: #444;
/*		animation: logo-in 1.8s ease-out .1s forwards;*/
	fill-rule: evenodd;
}
@keyframes logo-in {
	0%{stroke: #999; stroke-opacity:1; stroke-dashoffset: 300; fill: #fff;}
	100%{stroke: #999; stroke-opacity:0; stroke-dashoffset: 0; fill: #444;}
}
nav{
	border-bottom: 1px solid #777;
	border-top: 1px solid #777;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding: .5em 0;
	overflow:hidden;
}
nav>span{
	width: 33.33%;
	float: left;
}
.nav-1{
	text-align: left;
}
.nav-3{
	text-align: right;
}
.tagline{		
	border-bottom: 1px solid #777;
	padding: 2em 0;
	margin-bottom: 1em;
	font-size: 1rem;
	text-align: center;
	line-height: 1.75;
}
.results .tagline{	
	border: none;
}
h1{
	font-size: 2.5rem;
	line-height: 1.22;
	font-weight: 900;
	margin-bottom: .2em;
}
.results h1{
	font-size: 4rem;
}
.submit-form{
	font-size: 1rem;
	padding: 2rem 0 2rem 2em;
	font-weight: 400;
	width: 38%;
	text-align: left;
	float: right;
}
.results .submit-form{
    float: none;
    margin: 0 auto;
    padding: 0;
}
h3{
	font-size: .75rem;
	text-align: left;
	font-weight: 400;
	color: #999;
	margin-bottom: .7em;
}
.subscribe{
	width: 100%;
	padding: 2em 0;
	height: 6em;
}
.subscribe input{
	border: 1px solid #aaa;
	border-radius: 0;
	height: 2.4em;
	font-size: 1em;		
	float: left;
	display: block;
	transition: all .1s ease-in;
	-webkit-appearance: none;
}
.subscribe .input-box{
	width: 70%;
	background: #fff;
	padding: .1em .5em;
	color: #777;
	font-family: serif;
	border-right: none;
}
.input-box:hover,
.input-box:active{
	border-color: #e7b836;
}
.subscribe .btn{
	width: 30%;
	background: #e7b836;
	color: #fff;
	border: 1px solid #e7b836;
	border-left: none;
	text-align: center;
	font-weight: 900;
	cursor: pointer;
}
.btn:hover{
	background: #777;
	border-color: #777;
}
.form-desc{
	clear: both;
	line-height: 1.75;
}
.instructions,
h2,
h1{
	font-family: 'Songti SC', 'STZhongsong', 'KaiTi', Simsun, serif;
}
.instructions{
	font-size: 1.8rem;
	font-weight: 900;
}
.instructions span{
	color: #e7b836;
	font-weight: 300;
}
hr{
	width: 30%;
	margin: 3em auto;
	border: none;
	background: #e7b836;
	display: block;
	height: 2px;
}
.faq{
	text-align: left;
	padding: 2rem 3em 0rem 3em;
	width: 61%;
	float: left;
	border-right: 1px dotted #777;
	margin-bottom: 1em;
}
.faq-item{
	margin: 0 0 3.5em;
	counter-reset: item;
}
h2{
	font-size: 1.8rem;
	font-weight: 900;
	position: relative;
	line-height: 2rem;
}
.faq-details{
	font-size: 1rem;
	line-height: 1.75;
	margin: .4em 0 0;
	position: relative;
}
h2:before,
.faq-details:before{
	content: "A: ";
	position: absolute;
	left: -1.8rem;
	font-weight: 300;
	font-size: 1.2rem;
	color: #e7b836;
	top: -.1em;
	font-family: 'Songti SC', 'Georgia', Simsun, serif;
}
h2:before{
	content: "Q: ";
}
/*~Publisher*/
.publisher{
	width: 100%;
	clear: both;
	border-top: 1px solid #777;
	padding: 2rem;
	font-size: 2rem;
	display: none;
}

footer{
	font-size: 1.2em;
	clear: both;
	border-bottom: 3px solid #777;
	margin-bottom: 4em !important;
}
footer .inner{
	padding: .7em;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	margin-bottom: .2em;
}
.badget{
	position: absolute;
	top: 0;
	right: 7.5%;
}
.badget .inner{
	position: relative;
	background: #444;
	color: #fff;
	padding: .5em 1em;
	font-size: .5em;
	width: 9em;
	text-align: center;
	line-height: 1.4;
}
.badget .inner span{
	float: left;
	width: 25%;
	text-align: center;
}
.badget .inner:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 1em solid #fff;
	border-left: 5em solid transparent;
	border-right: 5em solid transparent;
}
.badget p{
	font-size: 5em;
	text-align: justify;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.3;
}
.badget i{
	opacity: 0;
}
/*~Results Page*/
.go-back{
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    margin: 1em 0 0;
    display: block;
}
/*~Small*/
@media screen and (max-width: 1000px){
	*,*:before{
		font-family: 'Anyway Type', sans-serif !important;
	}
	.mobile-hide{
		display: none;
	}
	body{
		font-size: 50%;
		border: none;
	}
	h3,.instructions,.form-desc{
		text-align: center;
	}
	.subscribe,
	.form-desc{
		max-width: 100%;
		margin: 0 auto;
	}
	.badget{
		display: none;
	}
	.responsive{
		max-width: 90%;
	}
	.submit-form,
	.faq{
		width: 100%;
		border: none;
	}
	.submit-form{
		border-bottom: 1px solid #777;
		padding: 2rem 0 2rem;
	}
	.faq{
		padding: 2rem 0em 0em 0em;
	}
	.faq-item{
		padding-left: 2rem;
	}
	h1{
		font-size: 1.4rem;
	}
	.results h1{
		font-size: 2rem;
	}
	.instructions,
	h2{
		font-size: 1.4rem;
		text-align: left;
	}
	h3:before,
	h3:after{
		content: " – ";
	}
	nav{
		font-size: .5rem;
		letter-spacing: 0;
	}
	.logo{
		width: 75%;
		margin: 2rem 0;
		max-height: 23vh;
	}
}
