*{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: 'Title Serif';
  src: url('fonts/source-han-serif-sc.eot');
  src:
    url('fonts/source-han-serif-sc.eot?#font-spider') format('embedded-opentype'),
    url('fonts/source-han-serif-sc.woff') format('woff'),
    url('fonts/source-han-serif-sc.ttf') format('truetype'),
    url('fonts/source-han-serif-sc.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
body{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 62.5%;
	font-family: 'Anyway Type', 'PingFang SC', 'Microsoft YaHei', sans-serif;
	background: #fff;
	color: #585858;
	text-align: center;
	border-top: 8px solid #444;
}
.instructions,
h2,
h1,
h2:before,
.faq-details:before{
	font-family: 'Calluna Web', 'Title Serif', 'Songti SC', 'STZhongsong', Simsun, serif;
}
a{
	color: #585858;
	transition: all .1s ease-in-out;
	text-decoration: none;
	border-bottom: 1px solid #222;
}
a:visited{
	color: #585858;
}
a:hover{
	color: #222;
	border-bottom: 1px solid #222;
	background: #ffe324;
}
.responsive{
	margin: .2em auto;
	max-width: 85%;
}
header{
	background: #fff;
	border-bottom: 3px solid #777;
}
.logo{
	width: 40%;
	margin: 3rem 0;
	max-height: 30vh;
}
nav{
	border-bottom: 1px solid #777;
	border-top: 1px solid #777;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding: .5em 0;
	overflow:hidden;
}
nav>span{
	width: 33.33%;
	float: left;
}
.nav-1{
	text-align: left;
}
.nav-3{
	text-align: right;
}
.tagline{
	border-bottom: 1px solid #777;
	padding: 2em 0;
	margin-bottom: 1em;
	font-size: 1rem;
	text-align: center;
	line-height: 1.75;
}
.tagline br{
	display: none;
}
.results .tagline br{
	display: block;
}
.results .tagline{
	border: none;
	max-width: 40rem;
	margin: 0 auto;
}
.results .tagline p{
	text-align: left;
}
h1{
	font-size: 2.5rem;
	line-height: 1.22;
	font-weight: 700;
	margin-bottom: .2em;
}
.results h1{
	font-size: 4rem;
}
.submit-form{
	font-size: 1rem;
	padding: 2rem 0 2rem 2em;
	font-weight: 400;
	width: 38%;
	text-align: left;
	float: right;
}
.results .submit-form{
  float: none;
  margin: 0 auto;
  padding: 0;
}
h3{
	font-size: .75rem;
	text-align: left;
	font-weight: 400;
	color: #999;
	margin-bottom: .7em;
}
.subscribe{
	width: 100%;
	padding: 2em 0;
	height: 6em;
}
.subscribe input{
	border: 1px solid #aaa;
	border-radius: 0;
	height: 2.4em;
	font-size: 1em;
	float: left;
	display: block;
	transition: all .1s ease-in;
	-webkit-appearance: none;
}
.subscribe .input-box{
	width: 70%;
	background: #fff;
	padding: .1em .5em;
	color: #777;
	font-family: serif;
	border-right: none;
}
.input-box:hover,
.input-box:active{
	border-color: #ffe324;
}
.subscribe .btn{
	width: 30%;
	background: #555;
	color: #fff;
	border: 1px solid #555;
	border-left: none;
	text-align: center;
	font-weight: 900;
	cursor: pointer;
}
.btn:hover{
	background: #ffe324;
	border-color: #ffe324;
	color: #222;
}
.form-desc{
	clear: both;
	line-height: 1.75;
}
.instructions{
	font-size: 1.6rem;
	font-weight: 700;
}
hr{
	width: 30%;
	margin: 3em auto;
	border: none;
	background: #ffe324;
	display: block;
	height: 2px;
}
.faq{
	text-align: left;
	padding: 2rem 3em 0rem 3em;
	width: 61%;
	float: left;
	border-right: 1px dotted #777;
	margin-bottom: 1em;
}
.faq-item{
	margin: 0 0 3.5em;
	counter-reset: item;
}
h2{
	font-size: 1.6rem;
	font-weight: 700;
	position: relative;
	line-height: 2rem;
}
.faq-details{
	font-size: 1rem;
	line-height: 1.75;
	margin: .4em 0 0;
}
.bullet-icon{
	font-weight: 700;
	font-size: .8rem;
	background: #ffe324;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -.4em;
	width: 1.2rem;
	height: 1.2rem;
	text-align: center;
	border-radius: .6rem;
	-moz-font-feature-settings: 'tnum';
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'lnum';
}
.faq-details .bullet-icon{
	top: -.1em;
}
/*~Publisher*/
.publisher{
	clear: both;
	border-top: 1px solid #777;
	padding: 1em 0 1em 2rem;
	font-size: 1rem;
	overflow: hidden;
}
.publisher h1{
	float: left;
	width: 40%;
	text-align: left;
	font-size: 3rem;
	line-height: 1;
	padding: .2em 0;
	margin: 0;
	border-right: 1px dotted #777;
}
.publisher ul{
	float: right;
	width: 60%;
	padding: 1em 0 1em 2em;
	list-style: none;
}
.publisher li{
	text-align: left;
	line-height: 1;
	margin: .3em 0 .4em 0;
	float: left;
	width: 50%;
}
.publisher li:before{
	content: "•";
	color: #ffe324;
	margin-right: .5em;
}
.publisher sup{
	transform: translateY(-.3em);
	display: inline-block;
}
footer{
	font-size: 1.2em;
	clear: both;
	border-bottom: 3px solid #777;
	margin-bottom: 4em !important;
	text-transform: uppercase;
}
footer .inner{
	padding: .7em;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	margin-bottom: .2em;
}
.badget{
	position: fixed;
	top: 0;
	right: 7.5%;
	z-index: 999;
}
.badget .inner{
	position: relative;
	background: #ffe324;
	color: #333;
	padding: .5em 1em;
	font-size: .5em;
	width: 9em;
	text-align: center;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
}
.badget .inner > div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.badget .inner > div span{
	text-align: center;
	font-size: 5em;
	text-align: justify;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.3;
}
.badget .inner:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 1em solid #fff;
	border-left: 5em solid transparent;
	border-right: 5em solid transparent;
}
.badget p{
	text-align: justify;
	width: 100%;
	margin-bottom: 1.2em;
}
/*~Results Page*/
.go-back{
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  margin: 2em auto 1.2em;
  display: inline-block;
}
/* ~Edges */
.mask{
	position: fixed;
	z-index: 99;
	border: .4rem solid #ffe324;
	background: #ffe324;
}
.mt, .mb{
	height: 0;
	width: 100%;
	left: 0;
}
.mb{
	bottom: -20rem;
	height: 20.8rem;
}
.mt{
	top: -20rem;
	height: 20.8rem;
}
.mv{
	bottom: 0;
	height: 999em;
	width: 0;
}
.ml, .ml2{left: -20rem;width: 20.8rem;}
.mr, .mr2{right: -20rem;width: 20.8rem;}
.ml2, .mr2{bottom: none;top: 0;}
/*~Small*/
@media screen and (max-width: 1100px){
	.tagline br{
		display: block;
	}
	.publisher h1{
		font-size: 2.5rem;
	}
}
@media screen and (max-width: 1000px){
	.mobile-hide{
		display: none;
	}
	body{
		font-size: 50%;
		border: none;
	}
	h3,.instructions,.form-desc{
		text-align: center;
	}
	.subscribe,
	.form-desc{
		max-width: 100%;
		margin: 0 auto;
	}
	.badget{
		display: none;
	}
	.responsive{
		max-width: 90%;
	}
	.submit-form,
	.faq{
		width: 100%;
		border: none;
	}
	.submit-form{
		border-bottom: 1px solid #777;
		padding: 2rem 0 2rem;
	}
	.faq{
		padding: 2rem 0em 0em 0em;
	}
	.faq-item{
		padding-left: 2rem;
	}
	h1{
		font-size: 1.4rem;
	}
	.results h1{
		font-size: 2rem;
	}
	.instructions,
	h2{
		font-size: 1.4rem;
		text-align: left;
	}
	h3:before,
	h3:after{
		content: " – ";
	}
	nav{
		font-size: .5rem;
		letter-spacing: 0;
	}
	.logo{
		width: 75%;
		margin: 2rem 0;
		max-height: 23vh;
	}
	.publisher {
		padding-left: 0;
	}
	.publisher h1{
		width: 100%;
		clear: both;
		float: none;
		text-align: center;
		border: none;
		font-size: 1.4rem;
	}
	.publisher h1 br{
		display: none;
	}
	.publisher ul{
		width: 100%;
		float: none;
		padding: 1em 0 1em 1em;
	}
}
@media screen and (max-width: 600px){
	.publisher li{
		width: 100%;
	}
	.tagline br, .publisher br{
		display: none;
	}
}
